body{
    background-image: url("https://wallpapercave.com/w/vmmH3NQs");
    background-color: blanchedalmond;
}
tr,td{
    border: 2px solid antiquewhite;
}

.cities{
    border: 2px solid yellow;
    color: brown;
}

a[href*="Pineapple"] {
    color: blanchedalmond;
}
a[href*="Apple"] {
    color: chartreuse;
}

a[href*="cherry"] {
    color: cornsilk;
}

a[href*="Watermelon"] {
    color: rgb(126, 5, 218);
}

a:hover {
    color: rgb(31, 2, 2);
}

label:hover {
    color: blue;
}

h3.contaner {
    color: brown;
}

p.bordd { 
    font-size: larger;
    color: yellowgreen;
}

.cities{
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    width: 600px;
    height: 40px;
    border-radius: 34px;
    
}

#send-button {
    
    text-align: center;
    border: 3px solid black;
    border-radius: 20px;
    width: 5px;
    height: 10px;
}
.password {
    border: 2px solid yellow;
    max-inline-size: 560px;
    border-radius: 20px;
    padding-top: 4vh;
    padding-left: 1px;
    
}