.border {
    border: 3px solid blue;
    padding: 15px 5rem;
    margin: 45px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 150px;
    
}

#big-header{
    border: 2px solid rgb(92, 5, 174);
    font-style: italic;
}

a[href*='florence'] {
    color: blanchedalmond;
}

a[href*='tigerr'] {
    color: rgb(158, 142, 228);
   
}

a:hover{
    color: rgb(205, 104, 2);
}

.Sub-speices{
    color: rgb(209, 16, 161);
}

.Not-main li {
    font-family: cursive;
  color:rgb(0, 110, 73);
}

.Names li {
    color: bisque;
    font-style: italic;
}

h1,h2 {
    text-align: center;
    opacity: initial;
}

#textt {
    text-align:center ;
}

.Names li {
    list-style: upper-roman;
}

h1 {
    font-size: 31px;
    font-family: cursive;
    text-align: center;
    
}