

.container{
    background-color: whitesmoke;
    width: 100%;
    height: 350px;
    display: flex;
    margin: 20px;
    justify-content: space-around;

}

.Block{
    background-color: blue;
    border:2px solid black;
    height: 100px;
    width: 100px;
    
    
    
    
}

.lock{
    background-color: blue;
    border: 2px solid black;
    height: 100px;
    width: 100px;
    flex-grow: 1;
    
   
}


#flexstart{
align-items: baseline;
}
